// vars

$img_path: 'https://maddencdn.com/content/images/2022/florida-sports-coast/water-adventures';

// col width
$one_col_width: 12.5%;

// fonts and typefaces
$font_body: 'exo-soft', sans-serif;
$font_headline: 'chantal', sans-serif;
$text_color_default: #212121;
$link_color:#017B92;
$link_color_dark:#036274;

// default top bar layout bits
$topBarHeight: 50px;
$topBarMobileHeight: 60px;
$defaultWidthHeight: 32px;

$defaultTopBarColorBG: #0f3d77;
$defaultTopBarColorControlOff: #cddc29;
$defaultTopBarColorControlOn: #fff;
$defaultTopBarColorTextOff: #cddc29;
$defaultTopBarColorTextOn: #fff;

$sectionPadding: 80px;

//story colors
$lightBlue: #0099dc;
$darkBlue: #0057b8;
$lightOrange: #efcb83;
$orange: #f1b434;